<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Separators" connectionString=" "/>
    <add name="OrientiedMark" connectionString="Orientied"/>
    <add name="NonOrientiedMark" connectionString="NonOrientied"/>
    <add name="MissingGraphType" connectionString="Graph type not specified"/>
    <add name="FileFormatException" connectionString="File format doesn't match. "/>
    <add name="EdgeOutputFormat" connectionString="{0} {1} {2}"/>
    <add name="NodesEdgesCountOutputFormat" connectionString="{0} {1}"/>
  </connectionStrings>
</configuration>