<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <add name="PluginsFolder" connectionString="Plugins"/>
        <add name="CoreDllsFolder" connectionString="CoreDlls"/>
        <add name="CoreDllCheck" connectionString="Checking CoreDll {0}"/>
        <add name="NotACoreDll" connectionString="Warning : Dll {0} is not marked as CoreDll. Please remove it from CoreDlls folder"/>
        <add name="CoreDllSuccessfullyLoaded" connectionString ="{0} : successfully loaded CoreDll marked as {1}"/>
        <add name="DllMissed" connectionString="Error : Library {0} required '{1}', but it cannot be found"/>
        <add name="FatalError" connectionString="Fatal Error! Exiting now...."/>
        <add name="PluginCheck" connectionString="Checking plugin {0}"/>
        <add name="PluginClassFound" connectionString="Found class {0}"/>
        <add name="PluginMethodFound" connectionString ="Found method {0} in class {1}"/>
        <add name="NotAPluginClass" connectionString ="Warning : Class {0} doesn't have any plugin methods, but marked as PluginClassAttribute"/>
        <add name="NotAPlugin" connectionString="Warning : Dll {0} doesn't have any plugin methods. Please remove it from Plugins folder"/>
        <add name="PressAnyKey" connectionString ="Press any key to continue...."/>
        <add name="InvalidKey" connectionString="Unknown key '{0}'"/>
        <add name="InputAgain" connectionString="Input again: "/>
        <add name="MainMenuRunPlugin" connectionString ="Run Plugin"/>
        <add name="MainMenuRunMethod" connectionString ="Run Method"/>
        <add name="MainMenuShowCoreDllsInfo" connectionString ="Show CoreDlls Info"/>
        <add name="MainMenuShowPluginsInfo" connectionString ="Show Plugins Info"/>
        <add name="MainMenuShowMethodsInfo" connectionString ="Show Methods Info"/>
        <add name="MainMenuExit" connectionString ="Exit"/>
        <add name="MainMenuInputInvitation" connectionString ="Choose item number: "/>
        <add name ="PluginInfoFormat" connectionString ="Class {0} in library {1} by {2} ◙♪ - Description: {3}"/>
        <add name ="CoreDllInfoFormat" connectionString ="Library {0} by {1} ◙♪ - Description: {2}"/>
        <add name ="MethodInfoFormat" connectionString ="Method {0} in class {1} by {2} ◙♪ - Description: {3}"/>
        <add name ="PluginListFormat" connectionString ="{0}. {1}"/>
        <add name="MethodListFormat" connectionString="{0}. {1} in class {2}"/>
    </connectionStrings>
</configuration>