<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="RefreshRate" value="40"/>
    <add key="ConsoleBufferWidth" value="90"/>
    <add key="ConsoleBufferHeight" value="45"/>
    <add key="ConsoleWindowWidth" value="90"/>
    <add key="ConsoleWindowHeight" value="45"/>
    <add key ="PageSize" value ="7"/>
    <add key="ScrollingStringUpdateFrequency" value="10"/>
    <add key="ScreenRedrawFrequency" value="10"/>
    <add key="NameDisplayStringLength" value="25"/>
    <add key="PlayListNameDisplayStringLength" value="30"/>    
    <add key="PerformerDisplayStringLength" value="20"/>
    <add key="GenreDisplayStringLength" value="15"/>
    <add key="FrameTitleDisplayLength" value="10"/>
    <add key="PlayListsFrameWidth" value="90"/>
    <add key="PlayListsFrameHeight" value="29"/>
    <add key="LogFrameWidth" value="90"/>
    <add key="LogFrameHeight" value="10"/>
  </appSettings>
  <connectionStrings>
    <add name="UnhandledException" connectionString="An unhandled exception has occured in {0} ◙♪ {1}"/>
    <add name="FatalError" connectionString="Fatal Error. Exiting now......"/>
    <add name="AbortingOperation" connectionString="Fatal Error. Aborting operation......"/>
    <add name="ScrollingStringSeparator" connectionString=" -*- "/>
    <add name="PlayListsSeparator" connectionString=" ------------ "/>
    <add name="PlayListStateStringPlay" connectionString="Playing"/>
    <add name="PlayListStateStringPause" connectionString="Paused"/>
    <add name="PlayListDisplayFormatString1" connectionString="PlayList: {0}, Rating: {1:0.###}    Id: {2}   [{3}]"/>
    <add name="PlayListDisplayFormatString2" connectionString="Song: {0}, Performer: {1}, Progress: {2:mm\:ss}/{3:mm\:ss}"/>
    <add name="PlayListDisplayFormatString3" connectionString="Genre: {0}, Rating: {1}, Id: {2}"/>
    <add name="PlayListsFrameTitle" connectionString="PlayLists"/>
    <add name="LogFrameTitle" connectionString="Log"/>
    <add name="CommandSeparators" connectionString=" "/>
    <add name="NoFileFound" connectionString='File "{0}" not found'/>
    <add name="UnknownCommand" connectionString='Command "{0}" is unknown'/>
    <add name="InvalidId" connectionString='Id "{0}" is invalid'/>
    <add name="PlayListResumed" connectionString="Playlist {0} with id {1} resumed"/>
    <add name="PlayListPaused" connectionString="Playlist {0} with id {1} paused"/>
    <add name="PlayListCurrentSongSwitched" connectionString="Playlist {0} with id {1} switched to song {2}"/>
    <add name="PlayListKilled" connectionString="Playlist {0} with id {1} killed"/>
    <add name="PlayListLoaded" connectionString='Playlist {0} with id {1} loaded from file "{2}"'/>
    <add name="WrongFileFormat" connectionString ='File "{0}" seems to have wrong format'/>
  </connectionStrings>
</configuration>